body {
  background: white;
  color: black;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  max-width: 960px;
  margin: auto;
}

h2 {
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.clear {
  float: none;
  clear: both;
}

.criterion {
    page-break-inside: avoid;
    border-top: 1px solid #EBEBEB;
    overflow-x: scroll;
}

.criterion:last-of-type {
  border-bottom: 1px solid #EBEBEB;
}

.criterion:first-of-type {
  margin-top: 20px;
  page-break-before: avoid;
}

.criterion.comments {
  border: none;
}

.criterion > .name {
    font-size: 18px;
    padding: 20px;
    display: block;
}

.criterion > .name > .grade {
  font-weight: bold;
  padding: 5px;
  margin-left: 10px;
}

.criterion > .name > .out-of {
  color: gray;
}

.criterion ul {
  list-style: none;
  margin-left: 20px;
}

.criterion li {
  padding: 10px;
}

.criterion li > .grade {
  font-weight: bold;
  padding: 5px;
}

.criterion li > .out-of {
  color: gray;
}

.criterion p {
    margin-left : 20px;
}

.rubric {
  width: 100%;
  min-height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-spacing: 10px 0px;
}

.rubric td {
  color: darkgray;
  background-color: white;
  border: 1px solid rgb(236, 239, 239);
  border-radius: 3px;
  padding: 10px;
}

.rubric td.selected {
  color: black;
  background-color: white;
  border: 3px solid rgb(230, 212, 0);
  border-radius: 3px;
  padding: 10px;
}

#total {
  padding: 20px;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
}

#total > .out-of {
  color : lightgray;
  font-weight: normal;
}

#document {
  padding : 20px;
}

#logo {
  float: right;
}

#logo > img {
  height: 32px;
  vertical-align: middle;
}

#info {
  padding: 25px;
  margin-top: 10px;
  background: #F1F1F1;
}

#grade {
  float: right;
  color: green;
  border-radius: 3px;
  font-size: 28px;
  text-align: center;
  font-family: sans-serif;
  vertical-align: middle;
}

#grade > #label {
  font-size: 13px;
  text-transform: uppercase;
  color: gray;
  margin-bottom: 5px;
}

#assignment-name {
  font-size: 24px;
  color: black;
  font-weight: 400;
  margin-top: 0px;

}

.container {
  color: black;
  border-radius: 3px;
  background: white;
  padding: 20px;
  page-break-inside: avoid;
}

.code-container {
  page-break-inside: avoid;
  background: #232730;
  color: #EBEBEB;
  padding: 20px;
  border-radius: 3px;
  position: relative;
  margin-bottom: 20px;
  overflow-x: scroll;
}

.code {
  padding-left: 20px;
}

.code-container > .lines {
  color: gray;
  font-weight: 200;
  position: absolute;
}

.comment {
  margin-top: 20px;
  background: #ffea8d;
  border-radius: 3px;
  padding: 20px;
  color: black;
  font-family: sans-serif;
}
.comment > .title {
  text-transform: uppercase;
  color: rgb(107, 100, 51);
  font-weight: bold;
  padding: 10px;

}

.comment > p > .grade {
  padding : 10px;
}

.comment > p > .grade.bad {
  color: red;
}

.comment > p > .grade.good {
  color: green;
}

.chart {
  border-radius: 3px;
  width: 100%;
  margin-bottom: 10px;
}


.syntaxhighlighter {
    border-radius: 3px;
    background: transparent !important;
}

.syntaxhighlighter .line.alt1, .syntaxhighlighter .line.alt2 {
  background: transparent !important;
}

.syntaxhighlighter .toolbar {
    display: none;
}

.syntaxhighlighter .gutter .line {
    border-right: none !important;
}

.syntaxhighlighter .container {
    background : transparent !important;
    border-radius: none;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.selected {
    background: #232730;
    color: black;
}

.file_name {
    padding: 10px;
    display: block;
}

.circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid green;
  border-radius: 40%;
  vertical-align: text-top;
  margin-right: 10px;
}

.sub-line {
  display: inline-block;
  width: 20px;
  height: 0px;
  border-top: 3px solid rgb(23, 99, 200);
  vertical-align: middle;
  margin-right: 10px;
}

#student {
  padding: 20px;
}
#student .avatar {
  color: white;
  display: inline-block;
  padding: 15px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
}

#student .name {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
